.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    column-gap: 16px;
    padding: 16px 24px;

}

.header__button:hover {
    filter: hue-rotate(120deg);
}

.header__button {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.header__start {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.header__end {
    display: flex;
    column-gap: 16px;
    align-items: center;
}


.header__button--burger {
    background-image: url(../images/burger.svg);
}

.header__button--repair {
    background-image: url(../images/repair.svg);
}

.header__button--checkstatus {
    background-image: url(../images/checkstatus.svg);
}

.header__button--profile {
    background-image: url(../images/profile.svg);
}

.header__button--call {
    background-image: url(../images/call.svg);
}

.header__button--chat {
    background-image: url(../images/chat.svg);
}

.header__logo {
    width: 96.55px;
    height: 50.81px;
    object-fit: contain;
}

.header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}

.header__button span {
    display: none;  
}

.header__start .header__divider {
    display: none;
}